In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
HOME = '/opt/airflow/dags/ML/Employees'

df = pd.read_csv('Employee.csv')
df.head(10)

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
5,Bachelors,2016,Bangalore,3,22,Male,No,0,0
6,Bachelors,2015,New Delhi,3,38,Male,No,0,0
7,Bachelors,2016,Bangalore,3,34,Female,No,2,1
8,Bachelors,2016,Pune,3,23,Male,No,1,0
9,Masters,2017,New Delhi,2,37,Male,No,2,0

In [3]:
# df.info()

In [4]:
#measuring corr
features = ['Education', 'JoiningYear', 'City', 'PaymentTier', 'Age', 'Gender', 'EverBenched', 'ExperienceInCurrentDomain']
encoded_features = ['Education', 'Gender','EverBenched', 'City']
target = 'LeaveOrNot'

dummies_df = pd.get_dummies(df, columns=encoded_features)
dummies_df.head(2)

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,LeaveOrNot,Education_Bachelors,Education_Masters,Education_PHD,Gender_Female,Gender_Male,EverBenched_No,EverBenched_Yes,City_Bangalore,City_New Delhi,City_Pune
0,2017,3,34,0,0,True,False,False,False,True,True,False,True,False,False
1,2013,1,28,3,1,True,False,False,True,False,True,False,False,False,True

In [6]:
#model
le = LabelEncoder()
df['Education'] = le.fit_transform(df[target])
df

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,0,2017,Bangalore,3,34,Male,No,0,0
1,1,2013,Pune,1,28,Female,No,3,1
2,0,2014,New Delhi,3,38,Female,No,2,0
3,1,2016,Bangalore,3,27,Male,No,5,1
4,1,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,0,2013,Bangalore,3,26,Female,No,4,0
4649,1,2013,Pune,2,37,Male,No,2,1
4650,1,2018,New Delhi,3,27,Male,No,5,1
4651,0,2012,Bangalore,3,30,Male,Yes,2,0
4652,0,2015,Bangalore,3,33,Male,Yes,4,0